* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
body {
  background-color: #f7f7fb;
  font-size: 16px;
  line-height: 100%;
  color: #667085;
}
img {
  max-width: 24px;
  max-height: 24px;
  object-fit: cover;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0d163a;
  margin-bottom: 0;
}
button {
  background-color: transparent;
  border: none;
}
