.lastMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logoContainer {
  padding: 36px;

  .logo {
    background-color: #d9d9d9;

    text-align: center;
    padding: 14px 77px;
  }
}

.menuGroup {
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 32px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    width: calc(100% - 60px);
    height: 1px;
    background-color: #d9d9d9;
  }
}

.menuItem {
  padding: 20px 50px;
  img {
    margin-right: 16px;
  }
}
