.lastMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logoContainer {
 
  .logo {
    background-color: #d9d9d9;

    text-align: center;
    padding: 14px 77px;
  }
}

.menuGroup {
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 32px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    width: calc(100% - 60px);
    height: 1px;
    background-color: #d9d9d9;
  }
}

.menuItem {
  padding: 16px 20px;
  img {
    margin-right: 16px;
  }
}
@media (min-width: 1200px) {
  .logoContainer {
    padding: 36px;}
    .menuItem {
      padding: 20px 50px;
      img {
        margin-right: 16px;
      }
    }
    .menuGroup {
      position: relative;
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
}